# Project exclude paths
/.gradle/
/Budget Manager/task/build/
/Budget Manager/task/out/
/Budget Manager/task/out/production/classes/
/Topics/The Map interface/Sherlock Holmes and the mystery of anagrams/out/
/Topics/The Map interface/Sherlock Holmes and the mystery of anagrams/out/production/classes/